@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.about_tab_button_active{
    background: black;
    color: white;
}

.about_swiper .swiper-button-prev::after{
    content: '';
    background-image: url(/src/img/arrow-left.svg);   
    width: 32px;
    height: 32px;
    background-repeat: no-repeat !important;
}
.about_swiper .swiper-button-next::after{
    content: '';
    background-image: url(/src/img/arrow-right.svg);   
    width: 32px;
    height: 32px;
    background-repeat: no-repeat !important;
}
.home_modal .swiper-button-prev::after{
    content: '';
    background-image: url(/src/img/arrow-left.svg);   
    width: 32px;
    height: 32px;
    background-repeat: no-repeat !important;
}
.home_modal .swiper-button-next::after{
    content: '';
    background-image: url(/src/img/arrow-right.svg);   
    width: 32px;
    height: 32px;
    background-repeat: no-repeat !important;
}